@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
/*-------------------------------------------------------------------------------*/
/*------------------------------------GLOBAL-------------------------------------*/
/*-------------------------------------------------------------------------------*/
html,body{
	width: 100%;
	height: 90%;
	margin: 0;
	padding: 0;
	font-family: 'Lobster', cursive;
	color: #2e2e2e;
}
body.modal-open {
    overflow: hidden;
}

/*-------------------------------------------------------------------------------*/
/*------------------------------------HEADER-------------------------------------*/
/*-------------------------------------------------------------------------------*/
header{
	background-color: #2e2e2e;
	font-weight:700;
	text-transform:uppercase;
	border-width:0;
	padding: 0.5% 7.7%;
}
.navbar-brand {
	color: #fff!important;
	font-size: 28px;
	font-family: 'Lobster', cursive;
	text-transform: none;
	text-decoration: none;
}