@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,cyrillic);


html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
    font-family: 'Comfortaa', cursive;
}
/*body {*/
    /*position: relative;*/
/*}*/
#mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.57);
}

h1, h2, h3 {
    font-family: 'Lobster', cursive, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

h1:first-letter, h2:first-letter  {
    text-transform: uppercase;
}

h2, .price {
    display: inline-block;
    text-align: left;
    font-size: 24px;
    margin: 5px 0 10px 0;
}
.container {
    min-width: 400px;
}
.row {
  margin-left:0;
  margin-right:0;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}

a img.logoIc {
    display: inline-block;
    position: absolute;
    top: 10px;
    margin-left: -70px;
    width: 80px;
}

header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    z-index: 11;
}
.page-header {
    padding-top: 30px;
}

.load-bar {
    z-index: 2000;
}

/* Custom page CSS
-------------------------------------------------- */
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar-brand {
    color: #fff!important;
    font-size: 28px;
    font-family: 'Lobster', cursive, sans-serif;
    text-transform: none;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
#myCarousel  .item {
  height: 600px;
  background-color:#bbb;
}
#myCarousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}


#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer {
  background-color:#414141;
}

#footer a {
  color:#efefef;
}

header {
  background: #333;
  color:#555;
}

header .container {
    text-align: right;
    line-height: 48px !important;
}
/*header .dropdown-menu {*/
  /*top:74px;*/
  /*background: #ffcc33;*/
  /*border-width:0;*/
/*}*/

h1 {
  font-size:50px;
}

.logo {
  font-size:40px;
  position:absolute;
  z-index:1200;
  color:#333;
  top:70px;
  text-align:center;
  width:100%;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

#footer > .container {
  
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
  
.navbar-nav {
  margin: 1px 1px; 
}  
  
/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
	font-weight:700;
    text-transform:uppercase;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
    font-family: 'Roboto Condensed', sans-serif;
}
/*.navbar-custom  .dropdown-menu li>a:hover {*/
	/*color: #eee;*/
/*}*/
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
    font-family: 'Roboto Condensed', sans-serif;
	background-color: #000;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.dropdown-menu > li > a {
    font-family: 'Roboto Condensed', sans-serif;
}

.divider {
	height:50px;
}

.panel {
	border-width:0;
}
.panel .cat {
    position: absolute;
    top: 8px;
    padding: 2px 15px;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    z-index: 2;
}

#map-canvas {
  	width: 100%; 
  	height: 300px;
	margin: 0;
	padding: 15px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #f2f3f2;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 
 

/*section {*/
  /*color: #ffffff;*/
  /*min-height: 400px;*/
  /*height: auto !important;*/
  /*height: 100%;*/
  /*padding-top:100px;*/
/*}*/

.bg-1 {
	background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-2 {
	background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-3 {
	background: url('http://www.bootply.com/assets/example/bg_blueplane.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-4 {
	padding-top:30px;
    background-color:#e6e6e6;
}
.panel {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
}
.panel-thumbnail {
    position: relative;
    text-align: center;
}
.panel .img-responsive {
    display: inline-block;
}
.panel-thumbnail .btn {
    position: absolute;
    bottom: 7px;
    right: 7px;
    font-size: 18px;
}

.panel-body {
    position: relative;
    padding: 7px 15px 0 15px;
}
.panel-body h2 {
    width: 85%;
}
.panel-body .price {
    float: right;
    width: 15%;
    text-align: right;
    color: #5CB85C;
    font-family: 'Lobster', cursive, sans-serif;
}
.panel-body .price:before {
    content: '₴';
}
.panel-body small {
    display: block;
    margin-top: -5px;
    margin-bottom: 10px;
}
.eat-me .count {
    display: none;
    top: -4px;
    left: -4px;
    padding: 1px 0 0 0;
    box-shadow: 1px 1px 2px 0 rgba(78, 78, 78, 1);
}
/************************************ Submit **********************************/
header div.btn {
    font-family: 'Lobster', cursive;
    text-transform: none;
}
/************************************ Plate **********************************/
#plate {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 28px;
    margin-right: 20px;
    background: url("../img/plate.png") no-repeat;
    background-size: 100% 100%;
}
#plate table {
    font-size: 12px;
}
#plate th {
    text-align: center;
}
#plate td:first-child,
#plate th:first-child {
    text-align: left;
}
.count {
    display: block;
    position: absolute;
    top: 0;
    right: -14px;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 9px;
    font-weight: 700;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 2px 0 0 0;
    border-radius: 100%;
    background: #F23005;
}
#plate .pop-up {
    display: none;
    position: absolute;
    z-index: 15;
    top: 140%;
    left: -135px;
    font-family: 'Comfortaa', cursive;
    white-space: normal;
    cursor: auto;
    width: 278px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.13);
    background: #fff;
}
#plate .pop-up:after {
    content: "";
    position: absolute;
    border-left: 10px solid rgba(255, 241, 190, 0);
    border-right: 10px solid rgba(255, 241, 190, 0);
    border-bottom: 10px solid #fff;
    left: 138px;
    top: -9px;
}
#plate .pop-up > i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#plate .pop-up span {
    display: block;
}
#plate .total {
    border-top: 2px solid #DDD;
    font-weight: 700;
}
#plate table i {
    cursor: pointer;
}
/************************************ Select **********************************/
.col-sm-4 .bootstrap-select {
    position: absolute;
    top: 0;
    right: 15px;
}
.col-sm-4 .bootstrap-select .btn {
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 4px;
}
.col-sm-4 .dropdown-menu {
    border-radius: 0;
}

/*-------------------------------------------------------------------------------*/
/*------------------------------------Admin Create Menu---------------------------------------*/
/*-------------------------------------------------------------------------------*/
.create-menu .row{
    text-align: center;
    padding-top: 5px;
}
.create-menu .price{
    text-align: center;
    font-size: 14px;
    margin: 0;
}
.create-menu .row:hover{
    background: rgba(46, 46, 46, 0.3);
    cursor: pointer;
}

.create-menu-caption{
    font-size: 24px;
    background-color: #2e2e2e;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
}
.create-menu input{
    outline: none;
}
.create-menu input[type="checkbox"] {
    display:none;
}
.create-menu input[type="checkbox"]:checked + label  {
    background:url(/public/img/check_radio_sheet.png) -19px top no-repeat;
}
.create-menu input[type="checkbox"] + label  {
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    background:url(/public/img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
.create-menu .active{
    background: #686868 !important;
    color: #72edf7;
}
.create-menu input[type="submit"]{
    width: 100%;
    background: rgba(46, 46, 46, 0.88);
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 24px;
    position: fixed;
    left: 0;
    bottom: 0;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}
.create-menu input[type="submit"]:hover{
    background: rgba(46, 46, 46, 0.95);
}
.create-menu input[type="submit"]:active{
    background: #2e2e2e;
}

#dishes_form textarea {
    resize: vertical;
}
#dishes_form .colName input, #dishes_form .colName textarea {
    width: 280px;
}
#dishes_form .colName textarea {
    height: 70px;
}

.controlElm {
    margin-top: -15px;
    margin-bottom: 15px;
    padding-left: 50px;
}

#selectData {
    width: 120px;
    color: #357ebd;
    border: none;
    cursor: pointer;
}

.modal {
    overflow: auto;
}
.modal-header {
    padding: 10px 15px;
}
.modal-content {
    width: 750px;
    margin-left: -15%;
}

#reportIframe, #reportUserIframe {
    width: 700px;
    height: 600px;
    margin-bottom: -40px;
}

.noteDialog {
    display: block;
    margin-bottom: -30px;
    font-style: italic;
}


.block-inline {
    float: none;
    display: inline-block;
    vertical-align: top;
}

h2 .datepicker, h2 .datepicker:active
h3 .datepicker, h3 .datepicker:active {
    cursor: pointer;
    border: none;
}
.iconsApp {
    display: inline-block;
    margin-left: 25px;
}
.iconsApp .btn {
    padding: 6px 0px;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #414141;
}
.tooltip-inner {
    padding: 3px 10px;
    max-width: 270px;
    font-weight: bold;
    font-size: 14px;
    font-family: cursive, sans-serif;
    color: #fff;
    background-color: #414141;
    border-radius: 5px;
}

.choosePhoto div {
    display: inline-block;
    margin: 10px 5px;
    padding: 2px;
    width: 130px;
    border: solid 1px #262626;
    cursor: pointer;
}
.choosePhoto div.selected {
    padding: 0;
    border: solid 3px #006dcc;
}
.choosePhoto div:hover {
    padding: 0;
    border: solid 3px #006dcc;
}
.choosePhoto div img {
    width: 124px;
}
.choosePhoto div span {
    position: absolute;
    margin-top: -2px;
    margin-left: -13px;
    padding: 1px 4px;
    color: #ffffff;
    font-size: 10px;
    background-color: #C90E0E;
}
.choosePhoto div span:hover {
    background-color: #E61515;
}

/************************************ Media Queries **********************************/
@media screen and (max-width: 992px) {
    .col-xs-6 {
        width: 50%;
    }
}
@media screen and (max-width: 770px) {
    .navbar-header:before, .navbar-header:after {
        display: none;
    }
}
@media screen and (max-width: 670px) {
    .col-xs-6 {
        float: none;
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 550px) {
    header .bootstrap-select {
        float: right!important;
        clear: both;
        margin-bottom: 8px;
    }
}
@media screen and (max-width: 450px) {
    .col-xs-6 {
        width: 100%;
    }
}

@media screen and (max-height: 768px) {
    .modal-footer {
        padding: 10px 20px 10px;
    }
    #reportIframe, #reportUserIframe {
        height: 565px;
    }
}
@media screen and (max-height: 670px) {
    #reportIframe, #reportUserIframe {
        height: 400px;
    }
}