<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="utf-8">
    <title>Замовлення на {{ date }}</title>
</head>
<body>
    <h3>Замовлення на {{ date }}</h3>
    <table width="100%" border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Категорія</th>
                <th>Назва</th>
                <th>Кількість</th>
                <th>Сума</th>
            </tr>
        </thead>
        <tbody>
        {% for data in report.orders %}
            <tr>
                <td>{{ data.category }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.count }}</td>
                <td>{{ data.amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p> Загальна сума: <b>{{ report.sum }}</b></p>
</body>
</html>