{% extends 'layout.html.twig' %}
{% block title %}Admin - Створити меню{% endblock %}

{% block preContainer %}
    <div class="controlElm">
        <a href="{{ path("admin") }}" class="btn glyphicon glyphicon-arrow-left">...</a>
    </div>
{% endblock %}

{% block content %}
    <h3 class="page-header text-left text-info">Меню на: <input type="text" id="selectData" class="datepicker" value="{{ date }}"></h3>
    <form action="javascript:AppAdmin.createDish()" id="menu_form" class="create-menu">
        <div class="row create-menu-caption">
            <div class="col-lg-1"></div>
            <div class="col-lg-9">Назва страви</div>
            <div class="col-lg-2">Ціна</div>
        </div>
        <input type="hidden" id="date" name="date" value="{{ date }}">
        <div id="create-menu-content"></div>
        <input type="submit" name="send" value="Відправити">
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var date, formDate =  $('#date'), selectData = $('#selectData');
            selectData.change(function() {
                if(date != selectData.val()) {
                    date = selectData.val();
                    formDate.val(date);
                    AppAdmin.loadDishes(date);
                }
            });
            AppAdmin.loadDishes(formDate.val());
        });
    </script>
{% endblock %}