{% extends 'layout.html.twig' %}
{% block title %}Admin - Список всіх страв{% endblock %}

{% block preContainer %}
    <div class="controlElm">
        <a href="{{ path("admin") }}" class="btn glyphicon glyphicon-arrow-left">...</a>
    </div>
{% endblock %}

{% block content %}
    <form action="javascript:AppAdmin.updateDishList()" id="dishes_form" class="create-menu">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Назва / Опис страви</th>
                    <th>Категорія</th>
                    <th>Ціна</th>
                    <th>Фото</th>
                    <th>Теги</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="dishes-content"></tbody>
        </table>
        <input type="submit" name="send" value="Зберегти">
        <a class="btn btn-primary" id="addDishBtn"><span class="glyphicon glyphicon-plus"></span> Додати</a>
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            AppAdmin.loadBaseDishes();

            $(".container").on("click", "#addDishBtn", function() {
                AppAdmin.addBaseDishes();
            });
            $("table").on( "click", "#deleteDishBtn", function() {
                var tr = $(this).parent().parent();
                BootstrapDialog.show({ title: 'Видалити', message: 'Ви точно хочете видалити? (Для збереження змін натиснути - Зберегти)',
                    buttons: [
                        { label: 'Так', action: function(dialog) {tr.remove(); dialog.close(); }},
                        { label: 'Ні', action: function(dialog) { dialog.close(); }},
                    ]
                });
            });

            $("table").on( "click", "#choosePhotoBtn", function() {
                var td = $(this).parent();
                AppAdmin.choosePhoto(td);
            });
        });
    </script>
{% endblock %}