{% extends 'layout.html.twig' %}
{% block title %} - Admin{% endblock %}

{% block content %}
    <h1>Hello, Admin!</h1>
    <p class="text-right">// сьогодні {{ "now"|date("d-m-Y") }}</p>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                <a href="{{ path('admin.create_menu') }}" class="btn btn-default" role="button">Створити меню</a>
                <a href="{{ path('admin.dishes_list') }}" class="btn btn-default" role="button">Список всіх страв</a>
                <a href="{{ path('admin.users_list') }}" class="btn btn-default" role="button">Управління користувачами</a>
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Репорт</h3>
        </div>
        <div class="panel-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                <a href="#report" onclick="AppAdmin.showAllOrders('{{ date }}');" class="btn btn-default" role="button">Замовлення</a>
                <a href="#user-report" onclick="App.showAllOrdersByUser('{{ date }}');" class="btn btn-default" role="button">Замовлення співробітників</a>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Push Notification</h3>
        </div>
        <div class="panel-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                <a href="#push-signUpForLunch" onclick="App.pushNotification(this, 'signUpForLunch');" class="btn btn-default" role="button">Нагадування. Замовте обід</a>
                <a href="#push-lunch" onclick="App.pushNotification(this, 'lunch');" class="btn btn-default" role="button">Всі на обід</a>
            </div>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Замовлення</h3>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    <a href="{{ path("admin.order_list", { date: date }) }}" class="btn btn-primary">Редагувати список замоволень</a>
                    <br><br><br>
                    <label>Зробити замовлення на </label>
                    <input type="text" id="dateGroupOrder" class="datepicker" value="{{ date }}">
                    <a href="#groupOrder" onclick="AppAdmin.createGroupOrder();" class="btn btn-success">Відправити</a>
                </div>
                <div class="col-md-4">
                    <p>Дати останіх 10 замовлень:</p>
                    <select multiple style="width:200px;" id="dateLocks"></select>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            App.dateGroupOrders();
        });
    </script>
{% endblock %}