{% extends 'layout.html.twig' %}
{% block title %}Admin - Список замовлень на {{ date }}{% endblock %}

{% block preContainer %}
    <div class="controlElm">
        <a href="{{ path("admin") }}" class="btn glyphicon glyphicon-arrow-left">...</a>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-10">
        <h3 class="page-header text-left text-info">Замовлення на {{ date }}</h3>
    </div>
    <div class="col-md-2">
        <button class="btn btn-danger" onclick=" AppAdmin.deleteOrder('all', '{{ date }}');">Видалити все</button>
    </div>
    <div class="row">
        <div class="row-lg-8">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Ім’я</th>
                    <th>Замовлення</th>
                    <th>Сума</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for data in orders.orders %}
                    <tr data-id="{{ data.login }}">
                        <td>{{ data.user }}</td>
                        <td>
                            {% for order in data.orders %}
                                {{ order.dish.name }} ({{ order.count }})
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ data.total|round(1) }}</td>
                        <td><a class="glyphicon glyphicon-trash" href="#delete" id="deleteOrderBtn"></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".container").on("click", "#deleteOrderBtn", function() {
                var tr = $(this).parent().parent();
                AppAdmin.deleteOrder(tr.data('id'), '{{ date }}')
            });
        });
    </script>
{% endblock %}