{% extends 'layout.html.twig' %}
{% block title %}Admin - Список всіх пожирачів{% endblock %}

{% block preContainer %}
    <div class="controlElm">
        <a href="{{ path("admin") }}" class="btn glyphicon glyphicon-arrow-left">...</a>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <a class="btn btn-primary" id="addUserBtn"><span class="glyphicon glyphicon-plus"></span> Додати</a>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Логін</th>
                <th>Ім'я</th>
                <th>Пароль</th>
                <th>Баланс</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="users-content"></tbody>
    </table>
    <a class="btn btn-primary" id="addUserBtn"><span class="glyphicon glyphicon-plus"></span> Додати</a>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            AppAdmin.loadUsers();

            $(".container").on("click", "#addUserBtn", function() {
                BootstrapDialog.show({ title: 'Додати голодного', message: getFormAddUser(),
                    buttons: [{ label: 'Додати', action: function(dialog) { AppAdmin.addUser(dialog); } }]
                });
            });
            $("table").on("click", "#editUserBtn", function() {
                var tds = $(this).parent().parent().find('td'), login = $(tds[0]).text();
                BootstrapDialog.show({ title: 'Оновити голодного', message: getFormUpdateUser(login, $(tds[2]).text(), $(tds[1]).text(), $(tds[3]).text()),
                    buttons: [{ label: 'Оновити', action: function(dialog) { AppAdmin.updateUser(dialog, login); } }]
                });
            });
            $("table").on( "click", "#deleteUserBtn", function() {
                var tr = $(this).parent().parent(), login = $(tr.find('td')[0]).text();
                BootstrapDialog.show({ title: 'Видалити ситого', message: 'Ви точно хочете видалити? (На свій страх і ризик, а якщо він голодний)',
                    buttons: [
                        { label: 'Так', action: function(dialog) {
                            AppAdmin.deleteUser(dialog, login);
                            tr.remove();
                        }},
                        { label: 'Ні', action: function(dialog) { dialog.close(); }},
                    ]
                });
            });
        });
    </script>
{% endblock %}