<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Замовлення співробітників на {{ date }}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <div class="row">
        <div class="row-lg-2"></div>
        <div class="row-lg-8">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Ім’я</th>
                        <th>Замовлення</th>
                        <th>Сума</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in report.orders %}
                        <tr>
                            <td>{{ data.user }}</td>
                            <td>
                                {% for order in data.orders %}
                                {{ order.dish.name }} ({{ order.count }})
                                {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ data.total|round(1) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row-lg-2"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>