{% extends 'layout.html.twig' %}
{% block hedCl %}fixed{% endblock %}
{% block header %}
    <div id="plate" class="btn">
        <span class="count">0</span>
        <div class="pop-up">
            <i class="glyphicon glyphicon-remove"></i>
            У вашій тарілці:
            <span>зараз порожньо <b>:(</b></span>
        </div>
    </div>
    <select class="selectpicker" data-live-search="true" data-width="300">
        <option value="">Вибери себе...</option>
        {% for user in users %}
            <option {% if user.login == 'Jura' %}data-icon="glyphicon glyphicon-music"{% else %}{% if user.balance < 0 %}data-icon="glyphicon glyphicon-fire"{% elseif user.balance < 10 %}data-icon="glyphicon glyphicon-tint"{% endif %}{% endif %}>
                {{ user.name }} ({{ user.login }}) / ₴ {{ user.balance }}
            </option>
        {% endfor %}
    </select>
    <button class="btn btn-success" onclick="App.makeOrder();">Замовити</button>
    <h2 style="color: #ffffff;">/</h2>
    {#<button class="btn btn-info" onclick="App.pushNotification(this,'lunch');">Всі на обід</button>#}
    <button class="btn btn-danger" onclick="App.showAllOrdersByUser('{{ date }}');">Список замовлень</button>
    <div class="iconsApp">
        <a href="apps/com.WebKate.LunchTime_v0.2.3.apk" class="btn" target="_blank" download><img alt="android build v0.2" src="public/img/icon_android.png"/></a>
        <a href="javascript:downloadIOSApp();" class="btn" target="_blank"><img alt="iOS build" src="public/img/icon_iOS.png"/></a>
    </div>
{% endblock %}

{% block preContainer %}
    <p class="text-right"></p>
    <div class="page-header text-center">
        <h2>Зроби замовлення на <input type="text" id="selectData" class="datepicker" value="{{ date }}"> <small>// сьогодні {{ "now"|date("d-m-Y") }}</small></h2>
    </div>
{% endblock %}

{% block content %}

    <div id="dishes" class="row"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var date, formDate =  $('#date'), selectData = $('#selectData');
            selectData.change(function() {
                if(date != selectData.val()) {
                    date = selectData.val();
                    formDate.val(date);
                    deleteAllDishes();
                    App.loadMainDishes(date);
                }
            });
            App.loadMainDishes('{{ date }}');
            App.bindAddDish2Order();
            //App.bindAddUser2Order();
            App.bindPlate();
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}