<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Lunch Time {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/bootstrap-select.css" rel="stylesheet">
    <link href="/public/css/bootstrap-dialog.min.css" rel="stylesheet">
    <link href="/public/css/datepicker.css" rel="stylesheet">
    <link href="/public/css/materialPreloader.min.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrap">
    <header class="masthead {% block hedCl %}{% endblock %}">
        <div id="nav" class="navbar navbar-custom navbar-inverse navbar-static-top" >
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" id="brand" href="/" title=""><img src="/public/img/logo.png" alt="logo" class="logoIc"/> LunchTime</a>
                </div><!--/.nav-collapse -->
                {% block header %}{% endblock %}
            </div><!--/.container -->
        </div><!--/.navbar -->
    </header>
    {% block preContainer %}{% endblock %}
    <div class="bg-5">
        <div class="container">
            {% block content %}{% endblock %}
        </div><!--/container-->
    </div><!--/row-->
</div>
<div id="footer">
    <div class="container">
        <p class="text-muted">Copyright © 2014-{{ "now"|date("Y") }} WebKate, ltd.</p>
    </div>
</div>
<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>
<div id="mask"></div>

<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/jquery.form.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/bootstrap-select.min.js"></script>
<script src="/public/js/bootstrap-dialog.min.js"></script>
<script src="/public/js/bootstrap-datepicker.js"></script>
<script src="/public/js/materialPreloader.min.js"></script>
<script src="/public/js/jquery.dataTables.min.js"></script>
<script src="/public/js/locales/bootstrap-datepicker.uk.js"></script>
<script src="/public/js/spin.min.js"></script>
<script src="/public/js/functions.js"></script>
<script src="/public/js/app.js"></script>
{% block javascripts %}{% endblock %}

</body>
</html>
